* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  background-image: linear-gradient(to right bottom, #eb2f64, #BA265D);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 20rem; }

.container {
  max-width: 120rem;
  min-height: 60rem;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.2);
  background-color: #faf9f9;
  margin: 0 auto; }

.content {
  display: flex;
  flex-direction: row; }

.sidebar {
  background-color: #333;
  color: #f4f2f2;
  width: 18%;
  height: 53rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
  .sidebar-nav {
    list-style: none;
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .sidebar-nav-item {
      font-size: 1rem;
      text-transform: uppercase;
      padding: 1rem 1rem;
      width: 100%;
      position: relative; }
      .sidebar-nav-item.active {
        background-color: #eb2f64; }
      .sidebar-nav-item::before {
        content: "";
        position: absolute;
        width: 2.5%;
        height: 65%;
        background-color: #eb2f64;
        margin-left: -1rem;
        margin-top: -.4rem;
        opacity: 0;
        transition: all .3s; }
      .sidebar-nav-item > a {
        text-decoration: none;
        color: white; }
        .sidebar-nav-item > a > span {
          margin-left: 3rem; }
      .sidebar-nav-item-icon {
        width: 1.5rem;
        height: 1.5rem;
        fill: white; }
      .sidebar-nav-item:hover::before {
        opacity: 1; }

.siderbar-nav-legal {
  text-align: center; }
  .siderbar-nav-legal-paragraph {
    font-size: 1.1rem; }

.hotel-view {
  flex-grow: 1;
  background-color: gray; }

.header {
  height: 7rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .header-img {
    height: 50%;
    margin-left: 1rem; }

.search-input {
  border-radius: 100px;
  border: none;
  padding: 1rem 3rem;
  outline: none;
  background-color: #faf9f9;
  transition: all .5s;
  width: 25rem; }
  .search-input:focus {
    background-color: #e3dddd;
    width: 30rem; }

.search-button {
  height: 5rem;
  width: 5rem;
  border: none;
  outline: none;
  margin-left: -5rem;
  background-color: transparent; }
  .search-button-icon {
    height: 20%;
    width: 20%;
    background-color: transparent;
    fill: #777; }

.user-nav {
  display: flex;
  align-items: center;
  height: 100%; }
  .user-nav-section {
    width: 6rem;
    height: 100%;
    margin: 0;
    text-align: center;
    transition: all .3s;
    position: relative; }
    .user-nav-section:hover {
      background-color: #f4f2f2; }
    .user-nav-section-icon {
      width: 3rem;
      height: 100%;
      fill: gray; }
    .user-nav-section-notification {
      color: white;
      background-color: #FF3366;
      width: 2rem;
      height: 2rem;
      padding: .2rem;
      border-radius: 100%;
      position: absolute;
      top: 1rem;
      right: 1rem; }
  .user-nav-profile {
    width: 9rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .user-nav-profile-span {
      color: gray;
      font-size: 1.5rem;
      margin-left: .5rem; }
    .user-nav-profile-img {
      width: 3.5rem;
      border-radius: 100px; }
    .user-nav-profile:hover {
      background-color: #f4f2f2; }
