* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  background-image: linear-gradient(to right bottom, #eb2f64, #BA265D);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 20rem; }

.container {
  max-width: 120rem;
  min-height: 60rem;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.2);
  background-color: #faf9f9;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }

.content {
  display: flex;
  flex-direction: row;
  flex-grow: 1; }

.sidebar {
  background-color: #333;
  color: #f4f2f2;
  width: 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between; }
  .sidebar-nav {
    list-style: none;
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column; }
    .sidebar-nav-item {
      font-size: 1rem;
      text-transform: uppercase;
      padding: 1rem 1rem;
      position: relative; }
      .sidebar-nav-item.active {
        background-color: #eb2f64; }
      .sidebar-nav-item-link {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative; }
      .sidebar-nav-item::before {
        content: "";
        position: absolute;
        width: 2%;
        height: 100%;
        background-color: #eb2f64;
        margin-left: -1rem;
        margin-top: -1rem;
        transform: scaleY(0);
        transform-origin: center;
        transition: transform .5s, width .2s .3s; }
      .sidebar-nav-item > a {
        text-decoration: none;
        color: white; }
        .sidebar-nav-item > a > span {
          margin-left: 3rem; }
      .sidebar-nav-item-icon {
        width: 1.5rem;
        height: 1.5rem;
        fill: white;
        position: absolute; }
      .sidebar-nav-item:hover::before {
        transform: scaleY(1);
        width: 100%; }

.siderbar-nav-legal {
  text-align: center; }
  .siderbar-nav-legal-paragraph {
    font-size: 1.1rem; }

.header {
  height: 7rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .header-img {
    height: 50%;
    margin-left: 1rem; }

.search-input {
  border-radius: 100px;
  border: none;
  padding: 1rem 3rem;
  outline: none;
  background-color: #faf9f9;
  transition: all .5s;
  width: 25rem; }
  .search-input:focus {
    background-color: #e3dddd;
    width: 30rem; }

.search-button {
  height: 5rem;
  width: 5rem;
  border: none;
  outline: none;
  margin-left: -5rem;
  background-color: transparent; }
  .search-button-icon {
    height: 20%;
    width: 20%;
    background-color: transparent;
    fill: #777; }

.user-nav {
  display: flex;
  align-items: center;
  height: 100%; }
  .user-nav-section {
    width: 6rem;
    height: 100%;
    margin: 0;
    text-align: center;
    transition: all .3s;
    position: relative; }
    .user-nav-section:hover {
      background-color: #f4f2f2; }
    .user-nav-section-icon {
      width: 3rem;
      height: 100%;
      fill: gray; }
    .user-nav-section-notification {
      color: white;
      background-color: #FF3366;
      width: 2rem;
      height: 2rem;
      padding: .2rem;
      border-radius: 100%;
      position: absolute;
      top: 1rem;
      right: 1rem; }
  .user-nav-profile {
    width: 9rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .user-nav-profile-span {
      color: gray;
      font-size: 1.5rem;
      margin-left: .5rem; }
    .user-nav-profile-img {
      width: 3.5rem;
      border-radius: 100px; }
    .user-nav-profile:hover {
      background-color: #f4f2f2; }

.hotel-view {
  background-color: #f4f2f2;
  display: flex;
  flex-direction: column; }
  .hotel-view-images {
    display: flex;
    height: 25%; }
    .hotel-view-images-img {
      width: 33.3333%;
      object-fit: cover; }
  .hotel-view-header {
    height: 6rem;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .hotel-view-header-left {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start; }
      .hotel-view-header-left-hotelname {
        text-transform: uppercase;
        color: #777;
        font-size: 2.5rem;
        font-weight: 300;
        letter-spacing: .3rem;
        margin-left: 1rem; }
      .hotel-view-header-left-stars {
        color: gray; }
    .hotel-view-header-right {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      height: 100%; }
      .hotel-view-header-right-location {
        display: flex;
        flex-direction: row;
        align-items: center; }
        .hotel-view-header-right-location-svg {
          fill: #eb2f64;
          height: 1.5rem;
          width: 1.5rem; }
        .hotel-view-header-right-location-span {
          color: #eb2f64;
          font-size: 1.2rem;
          font-weight: 400;
          border-bottom: 1.5px solid #eb2f64;
          margin-left: 0.2rem; }
      .hotel-view-header-right-score {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #eb2f64;
        height: 100%;
        margin-left: 1rem;
        padding: 1rem 1.5rem;
        transition: all .5s; }
        .hotel-view-header-right-score-big {
          color: white;
          font-size: 2.5rem;
          font-weight: 300; }
        .hotel-view-header-right-score-small {
          color: white;
          font-size: 1rem;
          font-weight: 300; }
        .hotel-view-header-right-score:hover {
          background-color: #BA265D; }
