.content {
  display: flex;
  flex-direction: row;
  height: 80%;
}

.sidebar {
  background-color: $color-secondary;
  color: $color-grey-light-2;
  flex-basis: 18%;
  height: 100%;
}

.hotel-view {
  flex-grow: 1;
  background-color: orangered;
}
