.content {
  display: flex;
  flex-direction: row;
  flex-grow : 1;
}

.sidebar {
  background-color: $color-grey-dark-1;
  color: $color-grey-light-2;
  width: 18%;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;

  &-nav {
    list-style: none;
    width: 100%;
    margin-top: 2rem;

    display: flex;
    flex-direction: column;

    &-item {
      font-size: 1rem;
      text-transform: uppercase;
      padding : 1rem 1rem;

      position : relative;

      &.active {
        background-color: $color-primary;
      }

      &-link {
        display: flex;
        flex-direction: row;
        align-items: center;

        position : relative;
      }

      &::before {
        content : "";
        position: absolute;
        width: 2%;
        height: 100%;
        background-color: $color-primary;
        margin-left : -1rem;
        margin-top: -1rem;
        transform: scaleY(0);
        transform-origin: center; // transform-origin has the default value of center. we can change it to bottom top etc.

        transition: transform .5s, width .2s .3s;
      }

      & > a {
        text-decoration: none;
        color : white;

        & > span {
          margin-left: 3rem;

        }
      }

      &-icon {
        width: 1.5rem;
        height: 1.5rem;
        fill: white;

        position: absolute;
      }

      &:hover {
        &::before {
          transform : scaleY(1);
          width: 100%;

        }
      }
    }

  }
}

.siderbar-nav-legal {
  text-align: center;
  &-paragraph {
    font-size: 1.1rem;

  }
}
